@model OrbisEvents.Data.Models.User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-controller="Accounts" asp-action="Register">


    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>

</form>